### Problem Statement

### Importing Libraries and Loading Dataset

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
My_df = pd.read_csv('trulia_san_diego_ca.csv')
My_df.head()

,address,no_of_Bedrooms,no_of_Bathrooms,SqFt,Year Built,parking,Heating,Cooling,assessment,price,...,Lot_Info,Days_on_Market,Property_Type,Tax_Year,Tax_Amount,Image,HOA,Agent_Compensation,Review,More_Reviews
0,"390 San Antonio Ave #13San Diego, CA 92106La P...",2 Beds,2 Baths,"1,275 sqft",1965,No Info,No Info,No Info,"$901,600","$345,000",...,NaN,Days on Market: 44,Property Type: ResidentialProperty Subtype: Co...,2021.0,NaN,https://www.trulia.com/pictures/thumbs_5/zillo...,None,NaN,1/4 Share Ownership Opportunity (up to 3 quart...,At least 16 Trulia users voted on each feature...
1,"3988 Mount Everest BlvdSan Diego, CA 92111Clai...",3 Beds,2 Baths,"1,068 sqft",Year Built: 1959,2 Car Garage,NaN,NaN,"$555,697","$888,000",...,6000 Square Feet,Days on Market: 4,Property Type: ResidentialProperty Subtype: De...,2021.0,NaN,https://www.trulia.com/pictures/thumbs_5/zillo...,None,2.0,Beautifully tailored remodel located on the so...,At least 39 Trulia users voted on each feature...
2,"277 Deerock PlSan Diego, CA 92114Skyline",3 Beds,2 Baths,"1,180 sqft",1962,2 Car Garage,Yes,Yes,"$53,510","$598,900",...,9600 Square Feet,Days on Market: 2,Property Type: ResidentialProperty Subtype: De...,2021.0,NaN,https://www.trulia.com/pictures/thumbs_5/zillo...,None,2.5,"Beautiful Views of the City, Huge Lot!!!!! Min...",At least 31 Trulia users voted on each feature...
3,"8548 Hopseed LnSan Diego, CA 92129Rancho Penas...",5 Beds,4 Baths,"2,710 sqft",1992,3 Car Garage,Yes,Yes,"$1,000,000","$1,549,900",...,6602 Square Feet,Days on Market: 2,Property Type: ResidentialProperty Subtype: De...,2021.0,NaN,https://www.trulia.com/pictures/thumbs_5/zillo...,None,2.5,"Welcome to Park Village and this rare 5 bed, 4...",At least 243 Trulia users voted on each featur...
4,"3906 C StSan Diego, CA 92102Mt. Hope",3 Beds,2 Baths,912 sqft,Year Built: 1957,Open Parking,NaN,NaN,"$119,554","$549,000",...,4309 Square Feet,Days on Market: 3,Property Type: ResidentialProperty Subtype: De...,2021.0,NaN,https://www.trulia.com/pictures/thumbs_5/zillo...,None,2.5,Welcome home! Private 3 bedroom 2 bathroom on ...,At least 16 Trulia users voted on each feature...

### Shape of the Dataset

In [9]:
rows, cols = My_df.shape #unpacking in order to get it printed in that f-string format

In [10]:
print(f'We have {rows} rows and {cols} columns on this dataset')

We have 1242 rows and 39 columns on this dataset

### Analising the Dataset to identify the following:

- Missing Values
- Numerical Variable
- Distribution of Numerical Variables
- Outliers
- Categorical Variables
- Cardinality of the categorical variable
- Potential relationship between the variable and the target Salesprice

## Checking the sum of the missing values for all the columns

In [14]:
Mis_val = My_df.isnull().sum()
Mis_val

address                                0
no_of_Bedrooms                        94
no_of_Bathrooms                      102
SqFt                                 115
Year Built                            45
parking                                0
Heating                              594
Cooling                              594
assessment                           282
price                                  4
Price Trend                            0
Price/SqFt                             1
Estimated_Mortgage                     1
Appliances_and_Utilities              74
Fireplace_and_Spa                    405
Levels_Enrance_and_Accessibility     128
Interior_details                     470
Exterior Features                     83
Beds_and_Baths                       193
Dimensions_and_Layout                224
Heating_and_Cooling                  162
Pool                                 442
Security                             994
Windows_Doors_Floor_Walls            633
Parking_and_Garage                   137
Surface_and_Elevation                388
Building                             182
Satus                                 95
Location                             362
Lot_Info                             440
Days_on_Market                        37
Property_Type                          0
Tax_Year                             271
Tax_Amount                          1238
Image                                  0
HOA                                    0
Agent_Compensation                   459
Review                                 0
More_Reviews                          10
dtype: int64

## For only columns with missing values

#### We use the below line of code

In [24]:
Mis_val = [i for i in My_df.columns if My_df[i].isnull().sum()>0]
My_df[mis_val].isnull().sum()

address          0
parking          0
Price Trend      0
Property_Type    0
Image            0
HOA              0
Review           0
dtype: int64

## Explaining the line of code above by splitting

In [25]:
mis_val = []
for i in My_df.columns:
    if My_df[i].isnull().sum() > 0: 
           mis_val.append(i)

In [26]:
mis_val

['no_of_Bedrooms',
 'no_of_Bathrooms',
 'SqFt',
 'Year Built',
 'Heating',
 'Cooling',
 'assessment',
 'price',
 'Price/SqFt',
 'Estimated_Mortgage',
 'Appliances_and_Utilities',
 'Fireplace_and_Spa',
 'Levels_Enrance_and_Accessibility',
 'Interior_details',
 'Exterior Features',
 'Beds_and_Baths',
 'Dimensions_and_Layout',
 'Heating_and_Cooling',
 'Pool',
 'Security',
 'Windows_Doors_Floor_Walls',
 'Parking_and_Garage',
 'Surface_and_Elevation',
 'Building',
 'Satus',
 'Location',
 'Lot_Info',
 'Days_on_Market',
 'Tax_Year',
 'Tax_Amount',
 'Agent_Compensation',
 'More_Reviews']

In [27]:
My_df[mis_val].isnull().sum()

no_of_Bedrooms                        94
no_of_Bathrooms                      102
SqFt                                 115
Year Built                            45
Heating                              594
Cooling                              594
assessment                           282
price                                  4
Price/SqFt                             1
Estimated_Mortgage                     1
Appliances_and_Utilities              74
Fireplace_and_Spa                    405
Levels_Enrance_and_Accessibility     128
Interior_details                     470
Exterior Features                     83
Beds_and_Baths                       193
Dimensions_and_Layout                224
Heating_and_Cooling                  162
Pool                                 442
Security                             994
Windows_Doors_Floor_Walls            633
Parking_and_Garage                   137
Surface_and_Elevation                388
Building                             182
Satus                                 95
Location                             362
Lot_Info                             440
Days_on_Market                        37
Tax_Year                             271
Tax_Amount                          1238
Agent_Compensation                   459
More_Reviews                          10
dtype: int64

In [ ]:
My_df['Tax_Amount'].unique() #checking the unique value to decide what can be done to the feature

## Dataset information

In [ ]:
My_df.columns

In [ ]:
My_df.info() #This goes a long way in showing the datatype we have in the features

In [ ]:
My_df.describe() #This show us the various propeties of the numerical data present in the dataframe

### Drop Tax_Amount

#### From the observation derived after checking for missing values in features, we discovered that Tax_Amount column has a large number of missing values so we decided to drop it.

In [ ]:
new = My_df.drop(['Tax_Amount'],axis = 1) #new is the variable name we asigned the line of code to

### Confirm the Shape

In [ ]:
new.shape

## Checking for Numerical Values

In [35]:
Num_val = [nm for nm in My_df.columns if My_df[nm].dtypes != 'O']

In [36]:
print(f'The total number of Numerical variables in the dataset is: {len(Num_val)}')

The total number of Numerical variables in the dataset is: 2

In [37]:
My_df[Num_val].head(7) #This shows the first seven rows of the dataset

   Tax_Year  Agent_Compensation
0    2021.0                 NaN
1    2021.0                 2.0
2    2021.0                 2.5
3    2021.0                 2.5
4    2021.0                 2.5
5    2021.0                 2.5
6    2021.0                 2.0

## Checking for Categorical data

In [29]:
Cat_data = [cd for cd in My_df.columns if My_df[cd].dtypes == 'O']
print(f'The total number of Categorical Data in the dataset is: {len(Cat_data)}')

The total number of Categorical Data in the dataset is: 37

In [33]:
My_df[Cat_data].head()

,address,no_of_Bedrooms,no_of_Bathrooms,SqFt,Year Built,parking,Heating,Cooling,assessment,price,...,Satus,Location,Lot_Info,Days_on_Market,Property_Type,Tax_Amount,Image,HOA,Review,More_Reviews
0,"390 San Antonio Ave #13San Diego, CA 92106La P...",2 Beds,2 Baths,"1,275 sqft",1965,No Info,No Info,No Info,"$901,600","$345,000",...,Active,Community: Point Loma,NaN,Days on Market: 44,Property Type: ResidentialProperty Subtype: Co...,NaN,https://www.trulia.com/pictures/thumbs_5/zillo...,None,1/4 Share Ownership Opportunity (up to 3 quart...,At least 16 Trulia users voted on each feature...
1,"3988 Mount Everest BlvdSan Diego, CA 92111Clai...",3 Beds,2 Baths,"1,068 sqft",Year Built: 1959,2 Car Garage,NaN,NaN,"$555,697","$888,000",...,ACTIVE,Community: Clairemont Mesa West,6000 Square Feet,Days on Market: 4,Property Type: ResidentialProperty Subtype: De...,NaN,https://www.trulia.com/pictures/thumbs_5/zillo...,None,Beautifully tailored remodel located on the so...,At least 39 Trulia users voted on each feature...
2,"277 Deerock PlSan Diego, CA 92114Skyline",3 Beds,2 Baths,"1,180 sqft",1962,2 Car Garage,Yes,Yes,"$53,510","$598,900",...,ACTIVE,Community: Skyline,9600 Square Feet,Days on Market: 2,Property Type: ResidentialProperty Subtype: De...,NaN,https://www.trulia.com/pictures/thumbs_5/zillo...,None,"Beautiful Views of the City, Huge Lot!!!!! Min...",At least 31 Trulia users voted on each feature...
3,"8548 Hopseed LnSan Diego, CA 92129Rancho Penas...",5 Beds,4 Baths,"2,710 sqft",1992,3 Car Garage,Yes,Yes,"$1,000,000","$1,549,900",...,ACTIVE,Community: Park Village,6602 Square Feet,Days on Market: 2,Property Type: ResidentialProperty Subtype: De...,NaN,https://www.trulia.com/pictures/thumbs_5/zillo...,None,"Welcome to Park Village and this rare 5 bed, 4...",At least 243 Trulia users voted on each featur...
4,"3906 C StSan Diego, CA 92102Mt. Hope",3 Beds,2 Baths,912 sqft,Year Built: 1957,Open Parking,NaN,NaN,"$119,554","$549,000",...,ACTIVE,Community: San Diego,4309 Square Feet,Days on Market: 3,Property Type: ResidentialProperty Subtype: De...,NaN,https://www.trulia.com/pictures/thumbs_5/zillo...,None,Welcome home! Private 3 bedroom 2 bathroom on ...,At least 16 Trulia users voted on each feature...

In [43]:
for a in Cat_data:
    print(a, len(My_df[a].unique()))

address 1236
no_of_Bedrooms 15
no_of_Bathrooms 14
SqFt 939
Year Built 203
parking 34
Heating 3
Cooling 3
assessment 948
price 694
Price Trend 1113
Price/SqFt 842
Estimated_Mortgage 883
Appliances_and_Utilities 942
Fireplace_and_Spa 232
Levels_Enrance_and_Accessibility 422
Interior_details 65
Exterior Features 635
Beds_and_Baths 181
Dimensions_and_Layout 801
Heating_and_Cooling 355
Pool 88
Security 128
Windows_Doors_Floor_Walls 268
Parking_and_Garage 660
Surface_and_Elevation 52
Building 163
Satus 8
Location 357
Lot_Info 630
Days_on_Market 174
Property_Type 142
Tax_Amount 5
Image 1218
HOA 306
Review 1221
More_Reviews 130